<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Static files check -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(^.next\/static|^public\/|\.js$|\.css$|\.svg$|\.ico$|\.jpg$|\.jpeg$|\.gif$|\.png$)" />
          <action type="None" />
        </rule>
        
        <!-- Next.js static files rewriting -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <action type="Rewrite" url=".next/static/$1" />
        </rule>
        
        <!-- All other requests go to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      nodeProcessCommandLine="node --max-http-header-size=16384" />
      
    <httpErrors existingResponse="PassThrough" />
    
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>